@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #121212;
  color: #ffffff;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

/* Remove space between ticker and content */
.w-full.bg-gray-800.py-2 {
  padding-top: 0;
  padding-bottom: 0;
}

/* Other base styles */
a {
  color: #6d5ae6;
  text-decoration: none;
}

a:hover {
  color: #4ecdc4;
}

button {
  background-color: #1e1e1e;
}

.card {
  background-color: #1e1e1e;
  color: #ffffff;
}
